.pic1{
	position: relative;
	 z-index: 4;
}
.pic2{
	position: relative;
	left: 100px;
	z-index: 1;
	top: -100px;
}
.pic3{
	position: relative;
	left: 220px;
	top: -400px;
	z-index: 2;
}
.pic4{
	position: relative;
	z-index: 0;
	top: -580px;
}
.pic5{
	position: relative;
	top: -900px;
	z-index: 3;
	left: 400px
}
